@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>ContactUs</h2>

<div>
    <p>
        Digital Retailers Inc<br/>
        Address: Andheri East, Guru Nanak Area,Plot No.101<br />
        Mumbai-400001<br />
        Contact details: 7787465423<br />
        Email Id: DigitalRetailersInc@abcd.com<br />
    </p>
</div>
